*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


h1{
    font-family: 'DM Serif Display', serif;
    color: #384a62;
}
a{
    text-decoration: 0;
    color: #000;
}

/* Navigation Bar*/
nav{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    height: 12vh;
    background-color: #F7F6F4;
}
nav div{
    display: flex;
}
.nav_container{
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.r_links{
    width: 50%;
}
.r_links a{
    margin: 1em;
    margin-left: 0;
    text-decoration: 0;
    color: black;
}

/* Navigation2 */
.nav__2{
    background-color: #ECE8D9;
    padding: 0.5em;
}
.nav_2{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    font-size: 01em;
    
}
.nav_2 div{
    display: flex;
    align-items: center;
}
.nav_2 a{
    color: #384A62;
    margin: 1em;
    margin-top: 0.5em;
    padding: 0;
}
.mid_links{
    /* width: 40vw; */
    margin-left: 10em;
}


/* Section 1 */

.section1{
    height: 65vh;
    background-color: #ECE8D9;
}
.sec1_content{
    width: 90vw;
    margin: auto;
    padding-top: 10vh;
}
.sec1_header h1{
    font-size: 4em;
    margin-bottom: .2em;
}
.sec1_header h3{
    font-size: 1.7em;
}
.sec1_input{
    margin-top: 2em;
}
.input1{
    padding: 2em;
    width: 50vw;
    margin-top: 5em;
    font-size: 1em;
    color: lightgray;
    border: 0;
    position: absolute;
}
.search_icon{
    font-size: 1.5em;
    position: relative;
    margin-left: 24.5em;
    margin-top: 1.5em;
}

/* Card Image */
.image img{
    width: 35vw;
    margin-top: -36vh;
    margin-left: 63.5vw;
}

/* Sticky */
.sticky{
    padding: 0.9em;
    width: 11vw;
    background-color: #F7279E;
    color: white;
    position: fixed;
    border-radius: 0.2em;
    margin-left: 0.5em;
}

/* Section 2 */

.section2_header{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: space-between;
}
.grid{
    display: grid;
    width: 90vw;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(21.87em, auto);
    grid-gap: 1.7em;
    font-family: 'Roboto', sans-serif;
}
.grid_item{
    border: 1px solid #e5e7eb;
}

.grid img{
    width: 100%;
    height: 33vh;
}
.grid_content{
    padding: 1em;
}
.head{
    font-size: 0.6em;
    margin-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.para{
    font-size: 0.8em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #708095;
}
.price{
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}
button{
    color: white;
    background-color: #D77F81;
    /* padding: 0.5em; */
    width: 100%;
    height: 7vh;
    border: 0;
    text-align: left;
    padding-left: 1em;
    font-size: 1em;
}

/* Section 3*/
.section3{
    margin-top: 10vh;
}


/* Section 4 */
.sec4_container{
    width: 90vw;
    margin: auto;
    margin-top: 13vh;
    margin-bottom: 10vh;
}
.sec4_para{
    width: 50vw;
    font-size: 1.5em;
    color: #506683;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5em;
}
.companies img{
    width: 90vw;
    margin-top: 2em;
    margin-bottom: 1em;
}


/* Section 5 */

.section5{
    background-color: #EDF6FD;
    padding: 3em;
    height: 55vh;
}
.sec5_container{
    margin: auto;
    width: 90vw;
}
.sec5_header{
    margin-bottom: 1em;
}
.sec5_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.sec5_grid div{
    background-color: white;
    padding: 0.5em;
}
.sec5_name{
    display: flex;
}
.sec5_icon{
    margin: 0.5em;
}
.s5grid_item{
    display: flex;
}


/* Section 6 */
.section6{
    height: 55vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sec6_container{
    width: 90vw;
    margin: auto;
}
.sec6_header{
    color: #B27262; 
    font-size: 1em;
    margin-bottom: 0.5em;
}
.sec6_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
}
.sec6_content{
    display: flex;
    align-items: center;
}
.sec6_icon{
    margin: 1em;
}
.strong{
    margin-bottom: 0.5em;
}

/* Section 7 */
.section7{
    background-color: #F7F6F4;
    height: 45vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sec7_container{
    width: 90vw;
    margin: auto;
}
.sec7_header{
    margin-bottom: 2em;
    color: #384a62;
}
.sec7_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.sec7_content{
    display: grid;
}
.sec7_content a{
    text-decoration: underline;
}

/* Newsletter */
.newsletter{
    height: 45vh;
    background-color: #ECE8D9;
    align-items: center;
    justify-content: center;
    display: flex;
}
.news_container{
    width: 70vw;
    margin: auto;
}
.news_header h1{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.inputs{
    display: flex;
}
.news_input{
    width: 23vw;
    height: 12vh;
    border: 0;
    margin-right: 1em;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.input1:hover{
    border: none;
}
/* .in2{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.input2{
    height: 12vh;
    width: 43vw;
    padding: 1em;
    font-size: 1.2em;
    border: 0;
    position: absolute;
    display: flex;
    /* margin-right: 50vw; */
}
.in2_button{
    position: relative;
    height: 10vh;
    width: 15vw;
    padding: 1em;
    font-size: 1.2em;
    background-color: #384A62;
    margin-left: 18.3em;
    margin-top: 0.3em;
}

/* Footer */
footer{
    height: 60vh;
    background-color: #384A62;
    justify-content: center;
    align-items: center;
    display: flex;
}
.foot_cont{
    width: 90vw;
    margin: auto;
}
.foot_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.foot_content h1{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: #ECE8D9;
    margin-bottom: 1em;
}
ul{
    list-style: none;
}
li a{
    color: white;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
.foot_icons a{
   margin: 0.5em;

}
.payment_icons{
    width: 15vw;
}
.footer_div{
    height: 15vh;
    background-color: #CBCAC8;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.delivery_icon{
    width: 15vw;
}



